*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
selenium_standalone/
src/test/resources/

src/test/java/com/example/Actionwords.java
src/test/java/com/example/projectTest.java
